---
sudo: false
language: python

python: "2.7"

virtualenv:
  system_site_packages: false

install: pip install --upgrade setuptools

script: pip install .

deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  on:
    tags: true
